body {
  background-color: lightblue;
}

h1 {
  color: navy;
  margin-left: 20px;
}





















/*id pake sekali, id class buat apa, 
h1. {
  color: navy;
  margin-left: 20px;
}
id

h1# {
  color: navy;
  margin-left: 20px;
}
class